# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/src/generated/
/.ai/ai-ctx-20260129-112213.txt
/.ai/
.vscode/*
.gitignore
.history
.trae
